<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book detail</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .table {
            border: 5px solid lightgray;
            padding: 5px;

        }


    </style>
</head>
<body>
<div id="bookDetail">
    <h1> {{book.title}}</h1>
    <h2> {{book.authorName}} </h2>

    <div class="table">
        <p>
        <p th:text="#{books.genre}"></p>
        <input v-model="book.genre"/>
        </p>
        <button @click="updateBook(book.genre)" th:text="#{books.update}"></button>
    </div>

    <div class="table">
        <p th:text="#{comment.add} +':'">Input new comment:</p>
        <p><input v-model="commentText"/></p>
        <button @click="addComment(commentText)" th:text="#{books.update}"></button>
    </div>

    <div v-if="Array.isArray(book.comments) && book.comments.length">
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{books.comments}">Comments</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="comment in book.comments">
                <td>{{comment.text}}</td>
                <td>
                    <button @click="deleteComment(comment.id)" th:text="#{books.delete}"></button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-standalone/6.21.1/babel.min.js"></script>
<script type="text/babel">
let bookId = window.location.href.split("/").pop()
let path = window.location.origin +'/api/book/'+bookId+'/detail'
fetch(path)
     .then(response => response.json())
     .then(b => {
         new Vue({
                     el: '#bookDetail',
                     data: {
                        book: b
                     },
                     methods: {
                        updateBook: function(genre) {
                            fetch('/api/book/'+bookId, {
                                method: 'POST',
                                headers: {
                                  'Accept': 'application/json',
                                  'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({id: bookId, genre: genre})
                            }).then(response => {
                                if(response.ok) {
                                    this.book.genre = genre
                                }
                            })
                        },
                        log(item) {
                            console.log(item)
                        },
                        addComment: function(commentText) {
                            fetch('/api/book/'+bookId+'/comment/add', {
                                method: 'POST',
                                headers: {
                                  'Accept': 'application/json',
                                  'Content-Type': 'application/json'
                                },
                                body: JSON.stringify({text: commentText})
                            }).then(response => response.text())
                            .then(commentId => {
                              this.book.comments.push({
                                id: commentId,
                                text: commentText
                              })
                            })
                        },
                        deleteComment: function(commentId) {
                          fetch('/api/book/'+bookId+'/comment/'+commentId, {method:"DELETE"})
                          .then(response => {
                              if(response.ok) {
                                this.book.comments= this.book.comments.filter(function(value, index, arr){
                                  return value.id != commentId;
                                })
                              }
                            })
                          }
                        }
                 })
         })
</script>
</html>