<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Bookstore books</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        .table, .form {
            border: 5px solid lightgray;
            padding: 5px;

        }

        .form {
          float: left;
        }
    </style>
</head>

<body>
    <h1 th:text="#{bookstore.title}">Books in library</h1>
    <form class = "form" action="#" th:action="@{/book/add}" th:object="${book}" method="post">
        <p th:text="#{books.title} +':'">Title: </p>
        <input type="text" th:field="*{title}" />

        <p th:text="#{books.genre} +':'">Genre:</p>
        <input type="text" th:field="*{genre}" />

        <p th:text="#{books.authorName} +':'">Author name: </p>
        <input type="text" th:field="*{authorName}" />
        <p><input type="submit" value="Add" th:value="#{books.add}" /></p>
    </form>

    <table class = "table">
    <thead>
    <tr>
        <th th:text="#{books.title}">Title</th>
        <th th:text="#{books.authorName}">Author name</th>
        <th th:text="#{books.genre}">Genre</th>
    </tr>
    </thead>
    <tbody >
        <th:block th:each="bk : ${books}">
            <tr >
                <td><a th:href="@{/book/{id}(id=${bk.id})}" th:text="${bk.title}" href="/book/1"/></td>
                <td th:text="${bk.authorName}">A book author name</td>
                <td th:text="${bk.genre}">Book genre</td>
                <td>
                    <form action="#" th:action="@{/book/delete/{id}(id=${bk.id})}"  th:method="delete">
                        <p><input type="submit" value="Delete" th:value="#{books.delete}" /></p>
                    </form>
                </td>
            </tr>
        </th:block>
    </tbody>
    </table>
</body>
</html>